<!--<div class="col-lg-8 col-lg-offset-2">
	<div class="jumbotron text-center">
		<h2>Cuidador compoent</h2>

		Nombre de cuidador: {{nombre}}

		<button (click)="emitirEvento()">Mostrar en cliente</button>
	    
	</div>
</div>-->
<div class="rela-block container">
	<div class="rela-block profile-card">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#hospedaje">Hospedaje</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#paseo">Paseo</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane container active" id="hospedaje">
				<div class="row">

					<div class="col">
						<div class="card">
							<ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="1" [dayTemplate]="t">
							</ngb-datepicker>

							<ng-template #t let-date="date" let-focused="focused">
								<span class="custom-day" [class.focused]="focused" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
								 [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
									{{ date.day }}
								</span>
							</ng-template>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<button type="button" class="btn btn-primary" (click)="openModal(template)">Open first modal</button>

	<ng-template #template>
		<div class="modal-header">
			<h4 class="modal-title pull-left">First modal</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			This is a first modal
			<button type="button" class="btn btn-primary" (click)="openModal2(templateNested)">Open second modal</button>
		</div>
	</ng-template>

	<ng-template #templateNested>
		<div class="modal-header">
			<h4 class="modal-title pull-left">Second modal</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			This is nested modal.
			<br>
			<button *ngIf="modalRef" type="button" class="btn btn-danger" (click)="closeFirstModal()">Close first modal</button>
		</div>
	</ng-template>